name: Deploy to Production

on:
  push:
    branches: ["main"]
  # Configure Manual Trigger
  workflow_dispatch:

jobs:
  deploy-render:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to production environment
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.SERVICE_ID_PRODUCTION }}
          api-key: ${{ secrets.RENDER_TOKEN }}
